@import "../../../styles.scss";

#customerWrapper {
  padding: 5vh 10vw;
  // height: 550px;
}

.form-card {
  width: 500px;
  text-align: center;
}

.form-title {
  font-size: $heading-text;
}

.main-text {
  font-size: $main-text;
}

.form-input-flat {
  margin: 10px 0;
  font-size: $main-text;
}

.form-input-material {
  font-size: $main-text;
}

.flat-access-button {
  width: 100%;
  height: 50px;
  margin-bottom: 15px !important;
  font-size: 22px;
}

.feedback-icon {
  background-size: cover;
  margin: 0px 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.happy-icon {
  background-image: url("../../../assets/images/happy_face.png");
}

.neutral-icon {
  background-image: url("../../../assets/images/neutral_face.png");
}

.sad-icon {
  background-image: url("../../../assets/images/sad_face.png");
}
