@import "../../../styles.scss";

#customerWrapper {
  height: 100%;
  padding: 10vh 10vw 0;
}

.customer-app-project-name-wrapper {
  margin-bottom: 120px;
}

.customer-app-project-description-wrapper {
  margin-bottom: 15px;
}

.form-card {
  width: 100%;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.form-title {
  font-size: $heading-text;
}

.main-text {
  font-size: $main-text;
}

.form-input-flat {
  margin: 10px 0;
  font-size: $main-text;
}

.form-input-material {
  font-size: $main-text;
}

.flat-access-button {
  width: 100%;
  height: 50px;
  margin-bottom: 15px !important;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 11px 11px 25px #dbdbdb, -11px -11px 25px #ffffff;
}

.feedback-icon {
  background-size: cover;
  margin: 0px 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.happy-icon {
  background-image: url("../../../assets/images/happy_face.png");
}

.neutral-icon {
  background-image: url("../../../assets/images/neutral_face.png");
}

.sad-icon {
  background-image: url("../../../assets/images/sad_face.png");
}

@media screen and (max-width: 990px) {
  #customerWrapper {
    background-size: 100% 100% !important;
  }
  .customer-app-project-name-wrapper {
    margin-bottom: 40px;
    text-align: center;
  }
  .customer-app-project-title-wrapper {
    text-align: center;
  }
  .customer-app-project-description-wrapper {
    margin: 0;
    text-align: center;
  }
  .form-card {
    margin-bottom: 70px;
  }
}
