<div [formGroup]="featuresForm" style="min-height: 210px;">
    <div formArrayName="featuresArray" *ngIf="currentRoute !== '/customer-app'; else customerAppFeatures">
        <div *ngFor="let control of featuresArray.controls; let i = index" fxLayout style="margin-bottom: 5px;">
            <i nz-icon nzType="check-circle" nzTheme="outline"
                [ngStyle]="{'color': selectedTheme}" style="margin-right: 5px;"></i>
            <input (keyup)="saveFeaturesValue()" (keyup.enter)="nextStage()" nz-input class="feature-input"
                [formControlName]="i">
            <button *ngIf="makeRemovable()" nz-button nzShape="circle" style="margin-left: 5px;"
                (click)="removeFeature(i)">
                <i nz-icon nzType="close" nzTheme="outline"></i>
            </button>

        </div>
        <button *ngIf="showAddButton()" nz-button (click)="addFeature()">Add feature</button>
    </div>
</div>

<!-- <ng-template #materialCheck>
    <i [ngStyle]="{'color': selectedTheme}" style="margin-right: 5px;" class="material-icons">
        check_circle
    </i>
</ng-template> -->

<ng-template #customerAppFeatures>
    <div *ngFor="let control of featuresArray.controls; let i = index" fxLayout style="margin-bottom: 5px;">
        <i nz-icon nzType="check-circle" nzTheme="outline"
            [ngStyle]="{'color': selectedTheme}" style="margin-right: 5px;"></i>
        <span nz-text class="feature-input">{{control.value}}</span>
    </div>
</ng-template>