@import "../../../styles.scss";

.project-name {
  max-width: 350px;
  min-width: 200px;
  font-weight: bold;
  font-size: $heading-text;
  border: 3px rgba(0, 0, 0, 0.65) solid;
  padding: 10px;
  border-radius: 2px;
}

*:focus {
  outline: none;
}

.title-input {
  text-align: center;
  font-weight: bold;
  font-size: $heading-text;
  width: 100%;
  height: auto;
}
