@import "../../../styles.scss";

.app-name {
  height: 100%;
  width: 165px;
  cursor: pointer;
}

.avatar-wrapper {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-menu-item {
  padding: 5px 20px;
}
