@import "../../../styles.scss";

.app-name {
  background-image: url("../../../assets/images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 200px;
  margin-left: -30px;
  cursor: pointer;
}

.avatar-wrapper {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-menu-item {
  padding: 5px 20px;
}
