@import "../../../styles.scss";

.project-management-wrapper {
  padding: 10vh 10vw;
}

.secondary-navigation-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.secondary-navigation {
  padding: 45px;
  .secondary-navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 145px;
    border: 1px solid;
    background-color: #fff;
  }
  .secondary-navigation-item:hover {
    cursor: pointer;
  }
}

.preview-bottom-actions-wrapper {
  margin-bottom: 24px;
}

.engagement-list {
  animation: slidein normal 0.5s ease;
}

.delete-button {
  color: #ff4d4f;
}

.delete-button:hover {
  color: whitesmoke;
  background-color: #ff4d4f;
}

@keyframes slidein {
  from {
    opacity: 0.1;
    margin-left: -70px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
