<app-header></app-header>
<div class="secondary-header">
    <div style="display: flex;">
        <i nz-icon nzType="home" nzTheme="outline" class="secondary-header-icon"></i>
        <div style="display: flex; flex-direction: column;">
            <span class="secondary-header-secondary-text">Dashboard features</span>
            <h2 class="secondary-header-title">Projects</h2>
        </div>
    </div>
</div>

<div class="secondary-navigation">
    <div class="secondary-navigation-item-wrapper" *ngFor="let project of dashboard">
        <div class="secondary-navigation-item" (click)="manageProject(project)">
            <i nz-icon nzType="folder" nzTheme="outline" style="font-size: 64px;"></i>
            <span>{{project.name}}</span>
        </div>
    </div>

    <div class="secondary-navigation-item-wrapper">
        <div (click)="startCreationFlow()" class="secondary-navigation-item" style="border-radius: 50%;">
            <i nz-icon nzType="folder-add" nzTheme="outline" style="font-size: 64px;"></i>
            <span>Add project</span>
        </div>
    </div>

</div>

<app-footer></app-footer>