<nz-header style="padding: 0 10vw;" nz-row nzType="flex" nzJustify="center">
    <h2 [routerLink]="['/main']" style="cursor: pointer;" nz-title class="app-name">Validia</h2>
</nz-header>
<div class="nav-breadcrumbs">
    Dashboard
</div>

<div fxLayout fxLayoutAlign="space-between center" class="secondary-header">
    <div fxLayout>
        <i nz-icon nzType="home" nzTheme="outline" class="secondary-header-icon"></i>
        <div fxLayout="column">
            <span class="secondary-header-secondary-text">Dashboard features</span>
            <h2 class="secondary-header-title">Projects</h2>
        </div>
    </div>
</div>

<div style="display: flex; flex-flow: row wrap;" class="secondary-navigation">
    <div class="secondary-navigation-item-wrapper" *ngFor="let project of dashboard">
        <div fxLayout="column" fxLayoutAlign="center center" class="secondary-navigation-item"
            (click)="showProjectPreview(project)">
            <i nz-icon nzType="folder" nzTheme="outline" style="font-size: 64px;"></i>
            <span>{{project.name}}</span>
        </div>
        <button (click)="deleteProject(project._id)" style="width: 100%; margin-top: 5px;" nz-button nzType="danger">Detele project</button>
    </div>

    <!-- <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5x" class="secondary-navigation-item"
        [routerLink]="['/project-preview']">
        <i nz-icon nzType="folder" nzTheme="outline" style="font-size: 64px;"></i>
        <span>Project name</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5x" class="secondary-navigation-item"
        [routerLink]="['/project-preview']">
        <i nz-icon nzType="folder" nzTheme="outline" style="font-size: 64px;"></i>
        <span>Project name</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5x" class="secondary-navigation-item"
        [routerLink]="['/project-preview']">
        <i nz-icon nzType="folder" nzTheme="outline" style="font-size: 64px;"></i>
        <span>Project name</span>
    </div>
-->
    <div class="secondary-navigation-item-wrapper">
        <div (click)="startCreationFlow()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5x" class="secondary-navigation-item">
            <i nz-icon nzType="folder-add" nzTheme="outline" style="font-size: 64px;"></i>
            <span>Add project</span>
        </div>
    </div>

</div>