@import '../../../styles.scss';

.nav-breadcrumbs {
  background-color: #e9ecef;
  padding: 20px 10vw;
  border-bottom: 1px solid #dee2e6;
  color: #868e96;
  font-size: 12px;
}

.secondary-header {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  padding: 20px 10vw;
  .secondary-header-icon {
    padding: 10px;
    margin-right: 5px;
    font-size: 40px;
    border: 2px #1890ff solid;
    border-radius: 50%;
    color: #1890ff;
  }
  .secondary-header-secondary-text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #868ba1;
  }

  .secondary-header-title {
    line-height: 1.1;
    margin: 0;
    font-weight: 300;
    color: #1890ff;
  }
}

.secondary-navigation-item-wrapper {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  margin: 5px;
}
.secondary-navigation {
  padding: 20px 10vw;
  .secondary-navigation-item {
    height: 145px;
    width: 145px;
    border: 1px #1890ff solid;
    color: #1890ff;
    background-color: #fff;
  }

  .secondary-navigation-item:hover {
    cursor: pointer;
    color: #fff;
    border: 1px #fff solid;
    background-color: #1890ff;
  }
}

.admin-search {
  width: 75%;
  margin: 0px 5%;

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}
::ng-deep .mat-form-field-flex {
  background-color: #fff !important;
}

@media screen and (max-width: 990px) {
  .secondary-navigation {
    padding: 20px 5vw;
  }
}