@import "../../../styles.scss";

.project-setup-stage-wrapper {
  margin-top: 50px;
}

nz-steps {
  display: block;
  padding: 30px;
  box-shadow: rgb(232, 232, 232) 0px -1px 0px 0 inset;
}

::ng-deep.ant-steps-small .ant-steps-item-icon {
  width: 28px;
  height: 28px;
  font-size: 16px;
}

::ng-deep.ant-steps-small .ant-steps-item-title {
  font-size: 21px;
}

.project-setup-stage-title {
  font-size: $title-text;
  text-align: center;
}

.heading {
  font-size: $heading-text;
}

.project-setup-stage-descr {
  font-size: $main-text;
  text-align: center;
  padding-top: 10px;
}

.project-setup-stage-input {
  font-size: $main-text;
  margin-top: 20px;
}

.project-setup-stage-tips {
  line-height: 30px;
  font-size: $main-text;
}

.left-displace {
  margin-left: -9px;
}

.project-setup-stage-nav-button-section {
  width: 80vw;
  margin: 20px auto;
}

.project-setup-stage-theme {
  height: 90px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-setup-stage-theme-title {
  color: whitesmoke;
}

.project-setup-stage-custom-theme-non-selected {
  height: 15vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-setup-stage-theme:hover {
  box-shadow: 0px 0px 5px #52c41a;
  cursor: pointer;
}

.selected-button {
  background-color: rgba(82, 196, 26, 0.6);
}

.selected-icon {
  font-size: 20px;
  color: rgba(82, 196, 26, 0.6) !important;
}
