<app-header></app-header>
<nz-steps nzSize="small" [nzCurrent]="stepperPosition" [nzStartIndex]="0"
    (nzIndexChange)="onIndexChange($event)">

    <nz-step nzTitle="Theme" [nzStatus]="checkStepperStage(0)"></nz-step>
    <nz-step nzTitle="Name" [nzStatus]="checkStepperStage(1)"></nz-step>
    <nz-step nzTitle="Title" [nzStatus]="checkStepperStage(2)"></nz-step>
    <nz-step nzTitle="Features" [nzStatus]="checkStepperStage(3)"></nz-step>
    <nz-step nzTitle="Description" [nzStatus]="checkStepperStage(4)"></nz-step>
    <nz-step nzTitle="Project preview" [nzStatus]="checkStepperStage(5)" [nzDisabled]="shouldDisablePreview()">
    </nz-step>
</nz-steps>
<div [@templateChange] style="width: 80vw; margin: 0px auto;">
    <div nz-row class="project-setup-stage-wrapper">

        <!-- Action side -->
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14" nzXl="14" style="margin-bottom: 40px;">
            <div nz-col
                style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div style="margin-bottom: 50px">
                    <div>
                        <span nz-text class="project-setup-stage-title">
                            <strong>{{stageTitle}}</strong>
                        </span>
                    </div>

                    <div nz-col nzSpan="24">
                        <span nz-text class="project-setup-stage-descr">
                            {{stageDescr}}
                        </span>
                    </div>
                </div>

                <!-- Color stage -->
                <ng-container *ngIf="currentRoute === '/theme'">
                    <div nz-col nzSpan="24">
                        <nz-card nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6"
                            class="project-setup-stage-tips">
                            <div class="project-setup-stage-theme" [ngStyle]="{'background-color': firstColorScheme}"
                                (click)="selectTheme(firstColorScheme)">
                                <div style="height: 33%;"></div>
                                <span style="height: 33%;" nz-text class="project-setup-stage-theme-title">
                                    Blue
                                </span>
                                <div style="height: 33%;">
                                    <i *ngIf="selectedTheme === firstColorScheme" class="selected-icon" nz-icon
                                        [nzType]="'check-circle'" [nzTheme]="'twotone'"
                                        [nzTwotoneColor]="'#52c41a'"></i>
                                </div>
                            </div>
                        </nz-card>

                        <nz-card nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6"
                            class="project-setup-stage-tips">
                            <div class="project-setup-stage-theme" [ngStyle]="{'background-color': secondColorScheme}"
                                (click)="selectTheme(secondColorScheme)">
                                <div style="height: 33%;"></div>
                                <span style="height: 33%;" nz-text class="project-setup-stage-theme-title">Gold</span>
                                <div style="height: 33%;">
                                    <i *ngIf="selectedTheme === secondColorScheme" class="selected-icon" nz-icon
                                        [nzType]="'check-circle'" [nzTheme]="'twotone'"
                                        [nzTwotoneColor]="'#52c41a'"></i>
                                </div>
                            </div>
                        </nz-card>

                        <nz-card nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6"
                            class="project-setup-stage-tips">
                            <div class="project-setup-stage-theme" [ngStyle]="{'background-color': thirdColorScheme}"
                                (click)="selectTheme(thirdColorScheme)">
                                <div style="height: 33%;"></div>
                                <span style="height: 33%;" nz-text
                                    class="project-setup-stage-theme-title">Magenta</span>
                                <div style="height: 33%;">
                                    <i *ngIf="selectedTheme === thirdColorScheme" class="selected-icon" nz-icon
                                        [nzType]="'check-circle'" [nzTheme]="'twotone'"
                                        [nzTwotoneColor]="'#52c41a'"></i>
                                </div>

                            </div>
                        </nz-card>

                        <nz-card nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6"
                            class="project-setup-stage-tips">
                            <div *ngIf="!customColorScheme; else customColorPicked" class="project-setup-stage-theme">
                            </div>
                            <ng-template #customColorPicked>
                                <div class="project-setup-stage-theme"
                                    [ngStyle]="{'background-color': customColorScheme}"
                                    (click)="selectTheme(customColorScheme)">
                                    <div style="height: 33%;"></div>
                                    <span style="height: 33%;" nz-text class="project-setup-stage-theme-title">Your
                                        color</span>
                                    <div style="height: 33%;">
                                        <i *ngIf="selectedTheme === customColorScheme" class="selected-icon" nz-icon
                                            [nzType]="'check-circle'" [nzTheme]="'twotone'"
                                            [nzTwotoneColor]="'#52c41a'"></i>
                                    </div>

                                </div>
                            </ng-template>
                            <div nz-col nzSpan="24" style="height: 0;">
                                <div style="height: 0;">
                                    <input style="height: 0; width: 0; visibility: hidden;" #colorPickerInput
                                        [(colorPicker)]="customColorScheme" [cpPosition]="'bottom-left'"
                                        [cpOutputFormat]="'hsl'" />
                                </div>
                                <i style="cursor: pointer; color: #003a8c;" (click)="colorPickerInput.click()" nz-icon
                                    nzType="bg-colors" nzTheme="outline"></i>
                            </div>
                        </nz-card>


                    </div>
                </ng-container>

                <!-- Design stage -->
                <!-- <ng-container *ngIf="currentRoute === '/design'">
                    <div nz-col nzSpan="24">
                        <nz-card>
                            <div nz-row nzType="flex" nzJustify="space-around">
                                <div style="height: 60px;">
                                    <button [ngStyle]="{'background-color': selectedTheme}"
                                        [ngClass]="{'selected-button': selectedDesign === 'flat'}"
                                        (click)="selectDesign('flat');" nz-button nzSize="large"
                                        style="width: 150px; margin-bottom: 10px;">
                                        <span style="color: whitesmoke" nz-text>Flat design</span>
                                    </button>
                                    <br>
                                    <i class="selected-icon" *ngIf="selectedDesign === 'flat'" nz-icon
                                        nzType="check-circle" nzTheme="outline"></i>
                                </div>

                                <div style="height: 60px;">
                                    <button [ngStyle]="{'background-color': selectedTheme}" [disableRipple]="true"
                                        [ngClass]="{'selected-button': selectedDesign === 'material'}"
                                        (click)="selectDesign('material');" mat-raised-button
                                        style="width: 150px; margin-bottom: 10px;">
                                        <span style="color: whitesmoke" nz-text>Material design</span>
                                    </button>
                                    <br>
                                    <i class="selected-icon" *ngIf="selectedDesign === 'material'" nz-icon
                                        nzType="check-circle" nzTheme="outline"></i>
                                    
                                </div>

                            </div>

                        </nz-card>
                    </div>
                </ng-container> -->

                <!-- Name stage -->
                <ng-container *ngIf="currentRoute === '/name'">
                    <app-customer-app-name></app-customer-app-name>
                </ng-container>

                <!-- Title stage -->
                <ng-container *ngIf="currentRoute === '/title'">
                    <app-customer-app-title></app-customer-app-title>
                </ng-container>

                <!-- Features stage -->
                <ng-container *ngIf="currentRoute === '/features'">
                    <app-customer-app-features></app-customer-app-features>
                </ng-container>

                <!-- Description stage -->
                <ng-container *ngIf="currentRoute === '/description'">
                    <app-customer-app-description></app-customer-app-description>
                </ng-container>
            </div>
        </div>








        <!-- Divider -->
        <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="2" nzXl="2" style="height: 70vh; text-align: center;">
            <nz-divider nzType="vertical" style="height: 100%; background-color: rgba(0, 0, 0, 0.3);"></nz-divider>
        </div>






        <!-- Notes side -->
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
            <!-- Design stage -->
            <!-- <ng-container *ngIf="currentRoute === '/design'">
                <div class="project-setup-stage-tips">
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Flat design</strong>
                    </span>
                    <br>
                    <span nz-text nzType="secondary" style="margin-right: -20px;">
                        <span class="left-displace">-</span> Minimalist design language emphasizing minimum use of
                        stylistic elements that give the illusion of three dimensions.
                        <br>
                        <span class="left-displace">-</span> Focused on use of simple elements, typography and flat
                        colors.
                        <br>
                        Used by <b>Apple, Microsoft, Ebay, Netflix</b>
                        <br>
                    </span>
                    <br>
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Material design</strong>
                    </span>
                    <br>
                    <span nz-text nzType="secondary">
                        <span class="left-displace">-</span> Uses grid-based layouts, responsive animations and
                        transitions, padding, and
                        depth effects such as lighting and shadows.
                        <br>
                        <span class="left-displace">-</span> Has physical surfaces and edges.
                        <br>
                        Used by <b>Google, Reddit, Tumblr, Dropbox, Behance</b>
                    </span>
                </div>
            </ng-container> -->

            <!-- Color stage -->
            <ng-container *ngIf="currentRoute === '/theme'">
                <div class="project-setup-stage-tips">
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Meaning of color</strong>
                    </span>
                    <br>
                    <span nz-text nzType="secondary" style="margin-right: -20px;">
                        <span class="left-displace">-</span> Use color judiciously for communication. The power of color
                        to call attention to important information is heightened when used sparingly. For example, a red
                        triangle that warns people of a critical problem becomes less effective when red is used
                        elsewhere in an app for noncritical reasons.
                    </span>
                    <br>
                    <br>
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>General conventions</strong>
                    </span>
                    <br>
                    <span nz-text nzType="secondary" style="margin-right: -20px;">
                        <span class="left-displace">-</span> In general, choose a limited color palette that coordinates
                        with your app logo. Subtle use of color is a great way to communicate your brand.
                        <br>
                        <span class="left-displce">-</span> Avoid using the same color for interactive and
                        noninteractive elements. If interactive and noninteractive elements have the same color, it’s
                        hard for people to know where to tap.
                    </span>
                </div>
            </ng-container>

            <!-- Name stage -->
            <ng-container *ngIf="currentRoute === '/name'">
                <div class="project-setup-stage-tips">
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Short tips about <br> good product naming</strong>
                    </span>
                    <div></div>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span> Let it be short to middle
                        length</span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span> Make it easy to
                        pronounce</span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span> Make it easy to come up with a
                        good icon</span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span> Try foreign words, compound
                        words, real words,
                        misspellings, names</span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span> Don't rush, take your time.
                        We'll wait for your best
                        choise</span>
                </div>
                <br>
                <div nz-col nzSpan="20" class="project-setup-stage-tips">
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>If you are out of ideas <br> you can use name generators</strong>
                    </span>
                    <br>
                    <a href="https://namelix.com/"><span nz-text nzType="secondary">https://namelix.com</span></a><br>
                    <a href="https://businessnamegenerator.com/"><span nz-text
                            nzType="secondary">https://businessnamegenerator.com</span></a>
                    <br>
                    <a href="https://www.shopify.com/tools/business-name-generator#ToolContent">
                        <span nz-text nzType="secondary">https://www.shopify.com</span>
                    </a>
                </div>
            </ng-container>

            <!-- Title stage -->
            <ng-container *ngIf="currentRoute === '/title'">
                <div class="project-setup-stage-tips">
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Create meaningful title</strong>
                    </span>
                    <div></div>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>
                        Try to describe the main sense of your idea. Define the most prominent feature that is easy to
                        understand without any special expertise</span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>
                        Main reason of this title - tell future customers about <strong>WHAT</strong> you do</span>
                    <br>
                    <br>
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Go with your most desired audience</strong>
                    </span>
                    <div></div>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>
                        Be specific in your terms: use language that your target customer will understand
                    </span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>
                        Simplest way to make a good title - write is as it is with no overthinking</span>
                    <br>
                </div>
            </ng-container>

            <!-- Features stage -->
            <ng-container *ngIf="currentRoute === '/features'">
                <div class="project-setup-stage-tips">
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Consider your real power</strong>
                    </span>
                    <div></div>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span> Divide your idea on main
                        concepts, for example what it does for customer, for industry and for the whole world
                        (theoretically)
                    </span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>Make those features look easy
                        to understand and comprehend with the problem they solve</span>
                    <br>
                    <br>
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Don't add features just for amount</strong>
                    </span>
                    <div></div>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>
                        Many ideas try to look bigger then they are - that's a mistake. Worthy ideas are not the big
                        ones, but the ones that solve problem efficiently.
                    </span> <br>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>You can simply outline why you
                        are better then your competitor</span>
                    <br>
                </div>
            </ng-container>

            <!-- Description stage -->
            <ng-container *ngIf="currentRoute === '/description'">
                <div class="project-setup-stage-tips">
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Provide info after capturing attention</strong>
                    </span>
                    <div></div>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span> Make those features look easy
                        to understand and comprehend with the problem they solve</span>
                    <br>
                    <br>
                    <span nz-text class="heading">
                        <i nz-icon nzType="info-circle" style="padding: 0 5px 0 0;" nzTheme="outline"></i>
                        <strong>Tell your audience what you would in real life</strong>
                    </span>
                    <div></div>
                    <span nz-text nzType="secondary"><span class="left-displace">-</span>You can simply outline why you
                        are better then your competitor</span>
                    <br>
                </div>
            </ng-container>


        </div>
    </div>

    <!-- Buttons -->
    <div nz-row nzType="flex" nzJustify="space-between" class="project-setup-stage-nav-button-section">
        <button nz-button nzType="primary" (click)="prevStage()"><i nz-icon nzType="left"
                nzTheme="outline"></i>Prev.</button>
        <button *ngIf="currentRoute !== '/description'" nz-button nzType="primary" (click)="nextStage()">Next <i nz-icon
                nzType="right" nzTheme="outline"></i>
        </button>
        <button *ngIf="currentRoute === '/description'" [disabled]="checkValidity()" nz-button nzType="primary"
            (click)="nextStage()">Next <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
    </div>
</div>

<app-footer></app-footer>