@import '../../../styles.scss';

.project-title {
    font-weight: bold;
    font-size: $title-text;
}

*:focus {
    outline: none;
}

.title-input {
    text-align: center;
    font-weight: bold;
    font-size: $heading-text;
    width: 100%;
    height: auto;
}
