<app-header></app-header>
<div nz-row class="suggestions-wrapper">
    <nz-timeline nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <nz-timeline-item [nzDot]="circleDot">
            <div (click)="openLink('https://www.producthunt.com')" class="resource-block">
                <div class="resource-title">Product Hunt</div>
                <a class="resource-description">https://www.producthunt.com</a> <br>
                <span class="resource-description">Share with other people - get independent opinions on your
                    product</span>
            </div>
        </nz-timeline-item>
        <nz-timeline-item [nzDot]="circleDot">
            <div (click)="openLink('https://www.reddit.com/r/startups')" class="resource-block">
                <div class="resource-title">Reddit</div>
                <a class="resource-description">https://www.reddit.com/r/startups/</a> <br>
                <span class="resource-description"> Get feedback from community or find some like-minded people in
                    /startups
                </span>
            </div>
        </nz-timeline-item>
        <nz-timeline-item [nzDot]="circleDot">
            <div (click)="openLink('https://www.quora.com')" class="resource-block">
                <div class="resource-title">Quora</div>
                <a class="resource-description">https://www.quora.com</a> <br>
                <span class="resource-description">Ask questions, get honest answers</span>
            </div>
        </nz-timeline-item>
        <nz-timeline-item [nzDot]="circleDot">
            <div>
                <div class="resource-title">Facebook, Instagram, Twitter, LinkedIn</div>
                <span class="resource-description">Share your ideas in social media! Friends and colleagues - fastest
                    source of opinions. Don't forget to ask your family! 
                </span>
            </div>
        </nz-timeline-item>
    </nz-timeline>
    <div class="main-image" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12"></div>
    <ng-template #circleDot>
        <i nz-icon nzType="right-circle" style="font-size: 20px;" nzTheme="outline"></i>
    </ng-template>
</div>

<div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="preview-bottom-actions-wrapper">
        <div nz-col nzSpan="8" style="display: flex; justify-content: center;">
            <button [routerLink]="['/dashboard']" nz-button>
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Dashboard
            </button>
        </div>
        <div nz-col nzSpan="8"></div>
        <div nz-col nzSpan="8"></div>
    </div>
</div>