<div>
    <app-customer-app></app-customer-app>
    <nz-divider></nz-divider>
    <div nz-row style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 24px;">
        <button nz-col nzSpan="8" *ngIf="isUserLogged" [routerLink]="['/dashboard']"
            nz-button>
            <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Dashboard
        </button>
        <button nz-col nzSpan="8" (click)="showModal()" nz-button>Buy ($15)</button>
        <div nz-col nzSpan="8"></div>
    </div>
    <nz-modal [(nzVisible)]="modalView" [nzTitle]="registrationTitle" [nzFooter]="null" (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()">
        <ng-template #registrationTitle>
            <div *ngIf="!isUserLogged" style="text-align: center;">Registration</div>
            <div *ngIf="isUserLogged" style="text-align: center;">Verify purchase</div>
        </ng-template>
        <div *ngIf="!isUserLogged; else userLoggedTemlate">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <span class="pop-up-title" nz-text>Sign up to manage your projects</span>
                <a href="https://mvp-validator.herokuapp.com/auth/google/">
                    <button nz-button nzShape="circle" nzSize="large">
                        <i nz-icon nzType="google" nzTheme="outline"></i>
                    </button>
                </a>
            </div>
        </div>
        <ng-template #userLoggedTemlate>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <span class="pop-up-title" nz-text>Type in your payment data</span>
            </div>
            <!-- <button (click)="createProject()" nz-button>
                Create project
            </button> -->
        </ng-template>

    </nz-modal>
</div>