@import "../../../styles.scss";

.pop-up-title {
  font-size: $main-text-bigger;
}

.preview-signup-wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(265, 265, 265, 0.8);
  padding: 10px 0;
  height: 50px;
  z-index: 100;
}

.preview-bottom-actions-wrapper {
  box-shadow: 0px 0px 5px black;
  padding: 15px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 990px) {
  .preview-bottom-actions-wrapper {
    margin: 0;
  }
}
