<div>
    <app-customer-app></app-customer-app>
    <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="24" nzXl="24">
        <nz-divider></nz-divider>
    </div>
    <div nz-row class="preview-bottom-actions-wrapper">
        <div nz-col nzSpan="8" style="display: flex; justify-content: center;">
            <button *ngIf="isUserLogged" [routerLink]="['/dashboard']" nz-button>
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i> Dashboard
            </button>
        </div>
        <div *ngIf="!isUserLogged; else userLoggedTemplate" nz-col nzSpan="8" class="preview-signup-wrapper">
            <button (click)="showModal()" nz-button nzType="primary">
                <i nz-icon nzType="login" nzTheme="outline"></i> Sign up to manage this project
            </button>
        </div>
        <ng-template #userLoggedTemplate>
            <div nz-col nzSpan="8" style="display: flex; justify-content: center;">
                <button (click)="createProject()" nz-button>Add to dashboard</button>
            </div>
        </ng-template>
        <div nz-col nzSpan="8"></div>
    </div>
    <nz-modal [(nzVisible)]="modalView" [nzTitle]="registrationTitle" [nzFooter]="null" (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()">
        <ng-template #registrationTitle>
            <div style="text-align: center;">Registration</div>
        </ng-template>
        <div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <span class="pop-up-title" nz-text></span>
                <a href="https://mvp-validator.herokuapp.com/auth/google/">
                    <button nz-button style="background-color: #d62d20; display: flex; align-items: center;">
                        <i style="color: whitesmoke; margin-right: -8px;" nz-icon nzType="google-plus"
                            nzTheme="outline"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <span style="color: whitesmoke;" nz-text>Sign up</span>
                    </button>
                </a>
            </div>
        </div>
    </nz-modal>
</div>