<nz-layout class="main-wrapper">
    <nz-content class="main-content">
        <div nz-row>
            <div nz-col nzSpan="12">
                <h1 nz-title>
                    Validate your idea
                </h1>
                <div nz-text nzType="secondary" class="description">
                    Many startups fail due to improper idea revision or
                    <br>
                    insufficient feedback.
                    <br>
                    They did not validate their idea and missed
                    <br>
                    to reach their audience
                    <br>
                    <br>
                </div>
                <div nz-text class="description">
                    Your project will do the right thing
                </div>
                <br>
                <button nz-button nzType="primary" [routerLink]="['/project-setup']">Get started</button>
            </div>
            <div class="main-image" nz-col nzSpan="12"></div>
        </div>
    </nz-content>
</nz-layout>
<!-- <customer-app-landing></customer-app-landing> -->