<nz-header style="padding: 0 10vw;" nz-row nzType="flex" nzJustify="start">
    <h2 nz-title class="app-name">Validia</h2>
</nz-header>
<div class="main-wrapper">
    <nz-content class="main-content">
        <div nz-row>
            <div nz-col nzSpan="12">
                <h1 nz-title>
                    Validate your idea
                </h1>
                <div nz-text nzType="secondary" class="description">
                    Startups fail to get sufficient response. They
                    <br>
                    don't validate their idea and don't
                    <br>
                    reach their audience
                    <br>
                    <br>
                </div>
                <div nz-text class="description">
                    Your project will do the right thing...
                    <br>
                    In less then 15 mins
                </div>
                <br>
                <button nz-button nzType="primary" [routerLink]="['/theme']">Get started</button>
            </div>
            <div class="main-image" nz-col nzSpan="12"></div>
        </div>
    </nz-content>
</div>