@import "../../../styles.scss";

.main-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10vw;
}

.main-content {
  width: 70vw;
  padding-top: 100px;
}

.main-title {
  font-size: $main-title-text;
}

.description {
  line-height: 35px;
  font-size: $main-text-bigger;
}

.main-action-button {
  width: 150px;
  height: 50px;
  font-size: $main-text-bigger;
}

.main-image {
  height: 70vh;
  background-image: url("../../../assets/images/main-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 990px) {
  .text-wrapper {
    text-align: center;
  }
}
