<nz-header style="padding: 0 10vw;" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
    <h2 nz-title class="app-name">Validia</h2>
    <a href="https://mvp-validator.herokuapp.com/auth/google/">
        <button nz-button style="background-color: #d62d20; display: flex; align-items: center;">
            <i style="color: whitesmoke; margin-right: -8px;" nz-icon nzType="google-plus" nzTheme="outline"></i>
            <nz-divider nzType="vertical"></nz-divider>
            <span style="color: whitesmoke;" nz-text>Sign in</span>
        </button>
    </a>
</nz-header>
<div class="main-wrapper">
    <nz-content class="main-content">
        <div nz-row>
            <div class="text-wrapper" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="10">
                <h1 nz-title>
                    Validate your idea
                </h1>
                <div nz-text nzType="secondary" class="description">
                    Startups fail to get sufficient response. They
                    don't validate their idea and don't
                    reach their audience
                </div>
                <br>
                <div nz-text class="description">
                    Your project will do the right thing...
                    <br>
                    In less then 15 mins
                </div>
                <br>
                <button nz-button nzType="primary" [routerLink]="['/theme']">Get started</button>
            </div>
            <div nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="2" nzXl="2"></div>
            <div class="main-image" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12"></div>
        </div>
    </nz-content>
</div>