@import "../../../styles.scss";

.project-desctiption {
  font-size: $main-text-bigger;
}

*:focus {
  outline: none;
}

.desctiption-input {
  font-size: $main-text;
  width: 500px;
  height: auto;
}


@media screen and (max-width: 990px) {
  .desctiption-input {
    width: auto;
  }
}

