$title-text: 40px;
$heading-text: 26px;
$main-text-bigger: 22px;
$main-text: 18px;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-name {
    color: whitesmoke !important;
    margin: 0 !important;
    line-height: unset !important;
}
