$main-title-text: 45px;
$title-text: 40px;
$heading-text: 27px;
$main-text-bigger: 23px;
$main-text: 18px;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
